In [33]:
from openai import OpenAI
import pandas as pd
import pyreadr

In [34]:
client = OpenAI(
    # defaults to os.environ.get("OPENAI_API_KEY")
    api_key="",
)

file_path = "/data/IDEA_DeFi_Research/LTM/Data/Lending_Protocols/Aave/V2/Mainnet/transactions_user_market_time_train.csv"
df = pd.read_csv(file_path)
print(df.head())

/tmp/ipykernel_424587/3387043612.py:7: DtypeWarning: Columns (11,12,13,14,16,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

   rowNumber                                        user  timestamp  \
0          0  0x0000000000000000000000000000000000000001  21.209975
1          1  0x0000000000000000000000000000000000000001  21.228536
2          2  0x000000000000000000000000000000000000dead  21.201968
3          3  0x000000000000000000000000000000000000dead  21.209480
4          4  0x000000000000000000000000000000000000dead  21.228138

                                                  id        type  \
0  0x3fec3516c8085e089d408562dd3f9ca1bbbc5b0eb4ea...  collateral
1  0x452f5f9b8d503f395a1db08a2bd8f3af937d401d5358...  collateral
2  0x59a33c72e045d762a069ddfe10540ddc1b521cbd27e1...  collateral
3  0x3c07de24894604a8e9fd36be5eda98a8f9fdad794536...  collateral
4  0x090c9fb05186afb08a0e311160409f24b5aa33de8ea1...  collateral

                                         pool reserve  amount  amountUSD  \
0  0xb53c1a33016b2dc2ff3653530bff1848a515c8c5     DAI     NaN        NaN
1  0xb53c1a33016b2dc2ff3653530bff1848a515c8c5   STETH     NaN        NaN
2  0xb53c1a33016b2dc2ff3653530bff1848a515c8c5    WETH     NaN        NaN
3  0xb53c1a33016b2dc2ff3653530bff1848a515c8c5    USDT     NaN        NaN
4  0xb53c1a33016b2dc2ff3653530bff1848a515c8c5   STETH     NaN        NaN

   amountETH  ...  cosDayOfMonth sinDayOfQuarter cosDayOfQuarter sinDayOfYear  \
0        NaN  ...            NaN       -0.000149             NaN          NaN
1        NaN  ...            NaN       -0.373148       -0.321340          NaN
2        NaN  ...            NaN             NaN             NaN    -0.234526
3        NaN  ...            NaN       -0.246116       -0.472423          NaN
4        NaN  ...      -0.090422       -1.581531       -0.021608          NaN

  cosDayOfYear  sinQuarter cosQuarter  isWeekend  timeFeature  Year
0          NaN         NaN        NaN      False       336261  2021
1          NaN         NaN        NaN       True       844250  2022
2    -0.491209         0.0 -37.331856      False       119994  2021
3          NaN         NaN        NaN      False       322839  2021
4          NaN         NaN        NaN       True       833253  2022

[5 rows x 128 columns]

In [4]:
# df = list(df.values())[0]  
# print(df.head())

In [5]:
# recent_transactions = df[df['user'] == '0xdcd33426ba191383f1c9b431a342498fdac73488'].nlargest(10, 'timestamp')

In [6]:
# print(recent_transactions)

In [49]:
query = "Get userID(0xdcd33426ba191383f1c9b431a342498fdac73488)'s recent 10 transactions"

In [50]:
# date

def get_triage_response(query):
    system_prompt = (
        "Write Python code to extract relevant transactions based on the query. "
        "Only return raw Python code without any markdown formatting, no triple backticks, "
        "The dataset is available as a DataFrame named 'df'. "
        "The DataFrame has the following columns: ['rowNumber', 'user', 'timestamp', 'id', 'type', 'pool', 'reserve', 'amount', 'amountUSD', 'amountETH', 'borrowRate', 'borrowRateMode', 'fromState', 'toState', 'liquidator', 'collateralAmount', 'collateralReserve', 'collateralAmountUSD', 'collateralAmountETH', 'priceInUSD', 'borrowRateModeTo', 'borrowRateModeFrom', 'stableBorrowRate', 'variableBorrowRate', 'coinType', 'userReserveMode', 'userCoinTypeMode', 'userIsNew', 'userSecondsSinceFirstTransaction', 'userSecondsSincePreviousTransaction', 'userCollateralCount', 'userDepositCount', 'userDepositSum', 'userDepositAvgAmount', 'userDepositSumUSD', 'userDepositAvgAmountUSD', 'userDepositSumETH', 'userDepositAvgAmountETH', 'userWithdrawCount', 'userWithdrawSum', 'userWithdrawAvgAmount', 'userWithdrawSumUSD', 'userWithdrawAvgAmountUSD', 'userWithdrawSumETH', 'userWithdrawAvgAmountETH', 'userBorrowCount', 'userBorrowSum', 'userBorrowAvgAmount', 'userBorrowSumUSD', 'userBorrowAvgAmountUSD', 'userBorrowSumETH', 'userBorrowAvgAmountETH', 'userRepayCount', 'userRepaySum', 'userRepayAvgAmount', 'userRepaySumUSD', 'userRepayAvgAmountUSD', 'userRepaySumETH', 'userRepayAvgAmountETH', 'userSwapCount', 'userLiquidationCount', 'userLiquidationSum', 'userLiquidationAvgAmount', 'userLiquidationSumUSD', 'userLiquidationAvgAmountUSD', 'userLiquidationSumETH', 'userLiquidationAvgAmountETH', 'userActiveDaysWeekly', 'userActiveDaysMonthly', 'userActiveDaysYearly', 'marketCollateralCount', 'marketDepositCount', 'marketDepositAvgAmount', 'marketDepositSum', 'marketDepositAvgAmountUSD', 'marketDepositSumUSD', 'marketDepositAvgAmountETH', 'marketDepositSumETH', 'marketWithdrawCount', 'marketWithdrawAvgAmount', 'marketWithdrawSum', 'marketWithdrawAvgAmountUSD', 'marketWithdrawSumUSD', 'marketWithdrawAvgAmountETH', 'marketWithdrawSumETH', 'marketBorrowCount', 'marketBorrowAvgAmount', 'marketBorrowSum', 'marketBorrowAvgAmountUSD', 'marketBorrowSumUSD', 'marketBorrowAvgAmountETH', 'marketBorrowSumETH', 'marketRepayCount', 'marketRepayAvgAmount', 'marketRepaySum', 'marketRepayAvgAmountUSD', 'marketRepaySumUSD', 'marketRepayAvgAmountETH', 'marketRepaySumETH', 'marketSwapCount', 'marketLiquidationCount', 'marketLiquidationAvgAmount', 'marketLiquidationSum', 'marketLiquidationAvgAmountUSD', 'marketLiquidationSumUSD', 'marketLiquidationAvgAmountETH', 'marketLiquidationSumETH', 'timeOfDay', 'dayOfWeek', 'dayOfMonth', 'dayOfYear', 'quarter', 'dayOfQuarter', 'sinTimeOfDay', 'cosTimeOfDay', 'sinDayOfWeek', 'cosDayOfWeek', 'sinDayOfMonth', 'cosDayOfMonth', 'sinDayOfQuarter', 'cosDayOfQuarter', 'sinDayOfYear', 'cosDayOfYear', 'sinQuarter', 'cosQuarter', 'isWeekend', 'timeFeature', 'Year'] "
        "The First Row of df has the following values: 0, '0x0000000000000000000000000000000000000001', 21.209975140498678, '0x3fec3516c8085e089d408562dd3f9ca1bbbc5b0eb4eaf20dc1acca3d5467ff57', 'collateral', '0xb53c1a33016b2dc2ff3653530bff1848a515c8c5', 'DAI', nan, nan, nan, nan, nan, False, True, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Stable', 'DAI', 'Stable', True, nan, nan, 0.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.0, 0.0, 0.0, 10.49069071389983, 10.28496729789378, 12.101352452771916, 22.3863197506657, 13.17760610353781, 23.46257340143159, 5.577411403618443, 15.862378701512224, 9.838735675306433, 12.33395594570726, 22.17269162101369, 13.465166440159464, 23.303902115465892, 5.857886301137982, 15.696621976444412, 9.404508151053818, 12.64468975333269, 22.04919790438651, 12.782599855726868, 22.187108006780687, 5.174872902824951, 14.57938105387877, 9.086815885690685, 12.741968827975697, 21.82878471366638, 12.927282432510582, 22.014098318201267, 5.315983907061722, 14.402799792752408, 4.553876891600541, 6.784457062637643, 9.85100484433986, 16.635461906977504, 9.8998075053775, 16.68426456801514, 2.3806911293081656, 9.165148191945809, 2.021952190733302, 4.0, 22.0, 203.0, 3, 23.0, -0.0850404364295141, nan, nan, nan, nan, nan, -0.0001489870571709, nan, nan, nan, nan, nan, False, 336261, 2021"
        "Please figure out which values need to be capitalize and which don't need to, So pay attentaion to it when you writing the code"
        "The user ID is stored in the 'user' column of the dataset. "
        "When writing code to filter rows, always define a variable `temp_df` as a subset of the original DataFrame. "
        "User ID is store in column 'user'"
        "For example, use: temp_df[df['user'] == 'some_value']. "
        "Do not modify 'df' directly. "
        "Write code that finds the transaction history for the given user ID in the temporary DataFrame, "
        "Ensure all variables like `temp_df` and `recent_transactions` are properly defined before use."
        "Ensure the spelling of all variable names is consistent and correct."
        "Return this result as recent_transactions."
        "You need to return all the columns, do not remove any columns from the temp_df"
        "'timeOfDay' is the time in that day, 'dayOfWeek' is the day of that week, 'dayOfMonth' is the day of that month, 'dayOfYear' is the day in that year. so use these value to filter the transactions, don't use quarter"
        
    )
    response = client.chat.completions.create(
        model="gpt-4o",
        messages=[
            {"role": "system", "content": system_prompt},
            {"role": "user", "content": query}
        ]
    )
    # return response.choices[0].message.content
    raw_code =  response.choices[0].message.content
    clean_code = raw_code.strip().strip("```python").strip("```")
    return raw_code

In [51]:
query_code = get_triage_response(query)

In [52]:
print(query_code)

temp_df = df[df['user'] == '0xdcd33426ba191383f1c9b431a342498fdac73488']
recent_transactions = temp_df.sort_values(by='timestamp', ascending=False).head(10)

In [53]:
def execute_query_code(query_code, dataframe):
    local_vars = {"df": dataframe}
    print("Generated Query Code:\n", query_code)  
    
    try:
        exec(query_code, {}, local_vars)
    except Exception as e:
        print(f"Error during execution: {e}")
        return None
    
    transactions = local_vars.get("recent_transactions")
    print("\nTransactions Output:")
    
    return transactions

In [54]:
t = execute_query_code(query_code,df)
print(t)

Generated Query Code:
 temp_df = df[df['user'] == '0xdcd33426ba191383f1c9b431a342498fdac73488']
recent_transactions = temp_df.sort_values(by='timestamp', ascending=False).head(10)

Transactions Output:
         rowNumber                                        user  timestamp  \
1601165    1646433  0xdcd33426ba191383f1c9b431a342498fdac73488  21.255945
1601164    1646432  0xdcd33426ba191383f1c9b431a342498fdac73488  21.255945
1601163    1646431  0xdcd33426ba191383f1c9b431a342498fdac73488  21.255945
1601162    1646430  0xdcd33426ba191383f1c9b431a342498fdac73488  21.253872
1601161    1646429  0xdcd33426ba191383f1c9b431a342498fdac73488  21.253872
1601160    1646428  0xdcd33426ba191383f1c9b431a342498fdac73488  21.253872
1601159    1646427  0xdcd33426ba191383f1c9b431a342498fdac73488  21.253242
1601158    1646426  0xdcd33426ba191383f1c9b431a342498fdac73488  21.253242
1601157    1646425  0xdcd33426ba191383f1c9b431a342498fdac73488  21.253242
1601156    1646424  0xdcd33426ba191383f1c9b431a342498fdac73488  21.253202

                                                        id        type  \
1601165  0x76c1f0b78a085a8448c20090ceb232cca109de6b72e9...    withdraw
1601164  0x76c1f0b78a085a8448c20090ceb232cca109de6b72e9...  collateral
1601163  0x76c1f0b78a085a8448c20090ceb232cca109de6b72e9...  collateral
1601162  0x195d8123913986aa07ed8dd34963a3db3b78eaee2505...    withdraw
1601161  0x195d8123913986aa07ed8dd34963a3db3b78eaee2505...  collateral
1601160  0x195d8123913986aa07ed8dd34963a3db3b78eaee2505...  collateral
1601159  0x7d0b7218eb3f27aa777b94ac9e99d0a258701cb1c954...    withdraw
1601158  0x7d0b7218eb3f27aa777b94ac9e99d0a258701cb1c954...  collateral
1601157  0x7d0b7218eb3f27aa777b94ac9e99d0a258701cb1c954...  collateral
1601156  0xbdb91495adfff0fd7de4bd7b62bfc377401d10b21443...    withdraw

                                               pool reserve    amount  \
1601165  0xb53c1a33016b2dc2ff3653530bff1848a515c8c5    WETH -2.635110
1601164  0xb53c1a33016b2dc2ff3653530bff1848a515c8c5    WETH       NaN
1601163  0xb53c1a33016b2dc2ff3653530bff1848a515c8c5    WETH       NaN
1601162  0xb53c1a33016b2dc2ff3653530bff1848a515c8c5    WETH  0.970987
1601161  0xb53c1a33016b2dc2ff3653530bff1848a515c8c5    WETH       NaN
1601160  0xb53c1a33016b2dc2ff3653530bff1848a515c8c5    WETH       NaN
1601159  0xb53c1a33016b2dc2ff3653530bff1848a515c8c5    WETH  6.396930
1601158  0xb53c1a33016b2dc2ff3653530bff1848a515c8c5    WETH       NaN
1601157  0xb53c1a33016b2dc2ff3653530bff1848a515c8c5    WETH       NaN
1601156  0xb53c1a33016b2dc2ff3653530bff1848a515c8c5    WETH  1.791759

         amountUSD  amountETH  ...  cosDayOfMonth sinDayOfQuarter  \
1601165   5.098238  -2.635110  ...      -0.693147             NaN
1601164        NaN        NaN  ...      -0.693147             NaN
1601163        NaN        NaN  ...      -0.693147             NaN
1601162   8.589222   0.970987  ...            NaN             NaN
1601161        NaN        NaN  ...            NaN             NaN
1601160        NaN        NaN  ...            NaN             NaN
1601159  13.923863   6.396930  ...      -0.022095       -0.274641
1601158        NaN        NaN  ...      -0.022095       -0.274641
1601157        NaN        NaN  ...      -0.022095       -0.274641
1601156   9.288856   1.791759  ...      -0.022095       -0.274641

        cosDayOfQuarter sinDayOfYear cosDayOfYear  sinQuarter cosQuarter  \
1601165       -0.038634          NaN    -0.005343         NaN        0.0
1601164       -0.038634          NaN    -0.005343         NaN        0.0
1601163       -0.038634          NaN    -0.005343         NaN        0.0
1601162             NaN          NaN    -0.370812         NaN        0.0
1601161             NaN          NaN    -0.370812         NaN        0.0
1601160             NaN          NaN    -0.370812         NaN        0.0
1601159             NaN          NaN    -0.668706         NaN        0.0
1601158             NaN          NaN    -0.668706         NaN        0.0
1601157             NaN          NaN    -0.668706         NaN        0.0
1601156             NaN          NaN    -0.668706         NaN        0.0

         isWeekend  timeFeature  Year
1601165      False      1611861  2023
1601164      False      1611861  2023
1601163      False      1611861  2023
1601162      False      1553062  2023
1601161      False      1553062  2023
1601160      False      1553062  2023
1601159      False      1535238  2023
1601158      False      1535238  2023
1601157      False      1535238  2023
1601156      False      1534101  2023

[10 rows x 128 columns]

In [63]:
# def create_embedding(transactions):
#     embedding_prompt = ("Provide only the embedding values as a single line list without any additional text, labels, or explanation. "
#         "Do not include any headers, formatting, or extra characters. Strictly return only this list:\n" + str(transactions)
#     )
    
#     response = client.chat.completions.create(
#         model="gpt-4o",
#         messages=[
#             {"role": "user", "content": embedding_prompt}
#         ]
#     )
#     embedding =  response.choices[0].message.content
import openai

def create_embedding(text):
    response = client.embeddings.create(
        model="text-embedding-3-large", 
        input=text
    )
    embedding = response.data[0].embedding  
    return embedding

In [65]:
embedding = create_embedding(t)

In [ ]:
def expert_agent(embedding):
    prediction_prompt = f"Based on this embedding: {embedding}, predict the loan repayment timeline."
    response = openai.ChatCompletion.create(
        model="gpt-4",
        messages=[
            {"role": "user", "content": prediction_prompt}
        ]
    )
    return response["choices"][0]["message"]["content"]

In [ ]:
def get_final_answer(query, prediction):
    final_prompt = f"Format the following prediction: '{prediction}' for the query: '{query}' in natural language."
    response = openai.ChatCompletion.create(
        model="gpt-4",
        messages=[
            {"role": "user", "content": final_prompt}
        ]
    )
    return response["choices"][0]["message"]["content"]

In [ ]:
def get_answer(query, dataframe):
    query_code = get_triage_response(query)
    transactions = execute_query_code(query_code, dataframe)
    embedding = create_embedding(transactions)
    prediction = expert_agent(embedding)
    final_answer = get_final_answer(query, prediction)
    return final_answ

In [ ]:
if __name__ == "__main__":
    data = {
        "loan_id": [101, 102, 103],
        "amount": [1000, 1500, 2000],
        "repayment_date": ["2025-01-01", "2025-02-15", "2025-03-10"]
    }
    dataframe = pd.DataFrame(data)

    query = "How long will it take for this loan to be repaid? {loanId: 103}"
    answer = get_answer(query, dataframe)
    print(answer)